html, body {
  height: 100%;
  margin: 0;
  overflow:hidden;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  height: 90%;
  display: flex;
}

main > div {
  height:100%;
  display: flex;
  flex: 1 0 auto;
}

.chat-container {
    height:100%;
    display: flex;
    flex-direction: column;
  }

.chat-messages {
  flex: 1;
  overflow-y: auto;
}

.chat-bubble {
  position: relative;
  padding: 10px;
  padding-bottom: 20px;
  text-align: center;
  margin: 5px;
  border-radius: 0 10px 10px 10px;
  width: 40%;
  margin: 5px auto;
}

.chat-bubble-author {
  position: absolute;
  font-size: 0.7em;
  bottom: 2px;
  right: 10px;
}

.sidenav .divider {
  margin: 0 0 5px 0;
}

.input-field #chatroomInput {
  color: #fff;
}

.input-field #chatroomInput:focus + label {
  color: #fff;
}