<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Chatrooms</title>
        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='chatroom.png') }}">
        <!-- Materialize CSS https://materializecss.com/getting-started.html -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <!-- Materialize Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Custom Styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <!-- SOCKET.IO cdn -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.slim.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <nav>
                    <div class="nav-wrapper cyan darken-3">
                        <!-- Modal Trigger - change username -->
                        <a href="#usernameModal" class="brand-logo center modal-trigger"></a>
                        <ul id="nav-mobile" class="left">
                            <li data-target="slide-out" class="sidenav-trigger">
                                <a href="#">
                                    <i class="small material-icons left">format_list_bulleted</i>
                                    <span id="nav-chatroom" class='hide-on-small-only'>Chatrooms</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            
            <!-- SideNav color: cyan darken-2  -->
            <ul id="slide-out" class="sidenav cyan darken-2">
                <div>
                    <li><a class='subheader'>Other ChatRooms<i class="material-icons">question_answer</i></a></li>
                    <li><div class="divider"></div></li>
                </div>
                
                <li class="addRoom"><a id="addRoom" class="waves-effect teal darken-2"><i class="material-icons">add_circle</i>Add Room</a></l>
            </ul>
    
            <!-- Set Username Modal Structure -->
            <div id="usernameModal" class="modal">
                <div class="modal-content">
                    <div class="input-field">
                        <input id="usernameInput" type="text" autocomplete="off">
                        <label class="active" for="username">Your Username</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="saveUsernameBtn" data-target="usernameInput" class="btn modal-trigger">Save</button>
                </div>
            </div>

            <!-- Bottom Modal Structure -->
            <div id="roomModal" class="modal bottom-sheet teal darken-2">
                <div class="modal-content">
                    <div class="row">
                        <form id="chatroomForm" class="col s12">
                            <div class="row">
                                <div class="input-field col s8 offset-s1 m6 offset-m3">
                                    <input id="chatroomInput" autocomplete="off">
                                    <label class='active' for="chatroomInput">New ChatRoom</label>
                                </div>
                                <div class="col s3">
                                    <button class="btn waves-effect waves-light" type="submit" name="action">
                                        Add 
                                        <i class="material-icons right">add_circle</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <!-- ChatBox and Members list -->
            <main style='visibility:hidden'>
                <div class="row">    
                    <!-- Chat box -->
                    <div class="col s9 chat-container">
                        <div class="chat-messages">
                            <!-- fetched from API -->
                        </div>
                        
                        <div class="chat-input">
                            <!-- input field on the bottom -->
                            <div class="divider"></div>
                            <form id="msgForm" class='input-field'>
                                <div class="row valign-wrapper">
                                    <div class="input-field col s10">
                                        <input id="chatInput" type="text" autocomplete="off">
                                        <label for="chatInput">Message</label>
                                    </div>
                                    <div class="col s2">
                                        <button class="btn waves-effect cyan lighten-2" type="submit">
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                </div> 
                            </form>
                        </div>
                    </div>

                     <!-- Side Bar -->
                     <div class="col s3" style="border-left: 1px solid grey">
                        <h5 class="center-align">Members</h5>
                        <hr>
                        <ul id='members' class="collection center-align">
                            <!-- fetched -->
                        </ul>
                </div>
            </main>
        </div>

        <audio id='notificationSound' src="{{ url_for('static', filename='audio/notification48.mp3') }}" style='display:none'>
        </audio>

        <!-- Materialize CSS JavaScript file -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <!-- Axios CDN https://github.com/axios/axios -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- Custom JS file -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>